.MatchPage {
    .bluebar-header{
        font-family: 'Orbitron', sans-serif;
        height: 100px;
        background: #1c3da1;
        border-radius: 15px;
        position: relative;
        text-align: center;
        font-size:4em;
        font-weight:5000;
        letter-spacing: 3px;
    }
    .below-match-page{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 20px;
    .year-selector {
        justify-self: end;
        padding: 20px;
    }

    .page-heading {
        margin: 20px auto;
    }
}
}